#pineShow {
  display: none;
}

#strawShow {
  display: none;
}

#waterShow {
  display: none;
}

#woodShow {
  display: none;
}

#lakeShow {
  display: none;
}

#mountainShow {
  display: none;
}

.pop {
  cursor: crosshair;
  color: #ffcc00;
}

.pop:hover {
  text-decoration: underline;
}

.clickable {
  cursor: crosshair;
  color: #cc2900;
}

.clickable:hover {
  text-decoration: underline;
}

.waterClick {
  cursor: crosshair;
  color: #009900;
}

.waterClick:hover {
  text-decoration: underline;
}

.wood {
  cursor: crosshair;
  color: #003300;
}

.wood:hover {
  text-decoration: underline;
}

.lake {
  cursor: crosshair;
  color: #0066cc;
}

.lake:hover {
  text-decoration: underline;
}

.mountain {
  cursor: crosshair;
  color: #333300;
}

.mountain:hover {
  text-decoration: underline;
}
